<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>五分钟上手之柱状图</title>
          <!-- 引入 echarts.js -->
          <script src="jquery.3.2.1.min.js"></script>
          <script src="echarts.min.js"></script>
     </head>
     <body>
          <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
          <div id="main" style="width: 600px;height:400px;"></div>
          <script type="text/javascript">
              // 基于准备好的dom，初始化echarts实例
              var myChart = echarts.init(document.getElementById('main'));
              // 指定图表的配置项和数据
              myChart.setOption({
                   color:['#06a45f'],
                   title: {
                        text: '基于好友签名信息，情感判断分析'
                   },
                   tooltip: {},
                   legend: {
                        // data: ['负面消极']
                        data: ['负面消极', '中性', '正面积极']
                   },
                   xAxis: {
                        data: ['负面消极', '中性', '正面积极']
                   },
                   yAxis: {},
                   series: [{
                        type: 'bar',
                        data: ["1","2","5"]
                   }
                ]
              });
          </script>
     </body>
</html>
