{% load static%}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>又一款纯CSS3立体式3D鼠标悬停效果</title>
<link rel="stylesheet" href="{% static 'css/init.css' %}">
</head>
<body>

 

		
<!-- 代码部分begin -->
<div class="contentbox">
	<div class="qcontainer">
		<div class="film">
			<div class="face front"><img src="{% static 'images/img1.jpg' %}"></div>
			<div class="face back"><h3>这是老大!!</h3></div>
		</div>
	</div>
	<div class="qcontainer">
		<div class="film">
			<div class="face front"><img src="{% static 'images/img2.jpg' %}"></div>
			<div class="face back"><h3>这是大姐头!!</h3></div>
		</div>
	</div>
	<div class="qcontainer">
		<div class="film">
			<div class="face front"><img src="{% static 'images/img3.jpg' %}"></div>
			<div class="face back"><h3>这是小清!!</h3></div>
		</div>
	</div>
	<div class="qcontainer">
		<div class="film">
			<div class="face front"><img src="{% static 'images/img4.jpg' %}"></div>
			<div class="face back"><h3>这是学霸!!</h3></div>
		</div>
	</div>
</div>
<!-- 代码部分end -->

</body>
</html>