{% load static %} 
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{% block title %}这里是默认的title{% endblock %}</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"> -->
	<link rel="stylesheet" href="{% static "css/ready.css" %}">
	<link rel="stylesheet" href="{% static "css/demo.css" %}">
</head>
<body>
	<!-- 测试 -->
	<!-- <img src="{% static "img/1.jpeg" %}" alt="My image"/> -->
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="logo">
					Ready Dashboard
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					
					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="la la-envelope"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li>
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="la la-bell"></i>
								<span class="notification">3</span>
							</a>
							<ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
								<li>
									<div class="dropdown-title">You have 4 new notification</div>
								</li>
								<li>
									<div class="notif-center">
										<a href="#">
											<div class="notif-icon notif-primary"> <i class="la la-user-plus"></i> </div>
											<div class="notif-content">
												<span class="block">
													New user registered
												</span>
												<span class="time">5 minutes ago</span> 
											</div>
										</a>
										<a href="#">
											<div class="notif-icon notif-success"> <i class="la la-comment"></i> </div>
											<div class="notif-content">
												<span class="block">
													Rahmad commented on Admin
												</span>
												<span class="time">12 minutes ago</span> 
											</div>
										</a>
										<a href="#">
											<div class="notif-img"> 
												<img src="{% static "img/profile2.jpg" %}" alt="Img Profile">
											</div>
											<div class="notif-content">
												<span class="block">
													Reza send messages to you
												</span>
												<span class="time">12 minutes ago</span> 
											</div>
										</a>
										<a href="#">
											<div class="notif-icon notif-danger"> <i class="la la-heart"></i> </div>
											<div class="notif-content">
												<span class="block">
													Farrah liked Admin
												</span>
												<span class="time">17 minutes ago</span> 
											</div>
										</a>
									</div>
								</li>
								<li>
									<a class="see-all" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="la la-angle-right"></i> </a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="data:image/jpeg;base64,{{avatar}}" alt="user-img" width="36" class="img-circle"><span >{{user_name}}</span></span> </a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="data:image/jpeg;base64,{{avatar}}" alt="user"></div>
										<div class="u-text">
											<h4>{{user_name}}</h4>
											<p class="text-muted">{{signature}}</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">查看资料</a></div>
										</div>
									</li>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#"><i class="ti-user"></i> 我的文档</a>
									<a class="dropdown-item" href="#"></i> 我的余额</a>
									<a class="dropdown-item" href="#"><i class="ti-email"></i> 收件箱</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#"><i class="ti-settings"></i> 账户设置</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/logout/?puid={{puid}}"><i class="fa fa-power-off"></i> 注销此账号</a>
								</ul>
								<!-- /.dropdown-user -->
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<div class="user">
						<div class="photo">
							<img src="data:image/jpeg;base64,{{avatar}}">
						</div>
						<div class="info">
							<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{user_name}}
									<span class="user-level">{{status}}</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">Edit Profile</span>
										</a>
									</li>
									<li>
										<a href="#settings">
											<span class="link-collapse">Settings</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav">
                        {% block nav_index %}
						    <li class="nav-item">
                                <a href="/index/">
                                    <i class="la la-dashboard"></i>
                                    <p>Dashboard</p>
                                    <span class="badge badge-count">5</span>
                                </a>
                            </li>
                        {% endblock %}
						
                        {% block nav_components %}
                            <li class="nav-item">
                                <a href="/components/">
                                    <i class="la la-table"></i>
                                    <p>Components</p>
                                    <span class="badge badge-count">14</span>
                                </a>
                            </li>
                        {% endblock %}
					
						
                        {% block nav_forms %}
                            <li class="nav-item">
                                <a href="/forms/">
                                    <i class="la la-keyboard-o"></i>
                                    <p>Forms</p>
                                    <span class="badge badge-count">50</span>
                                </a>
                            </li>
                        {% endblock %}
						
						
                        {% block nav_tables %}
                            <li class="nav-item">
                                <a href="/tables/">
                                    <i class="la la-th"></i>
                                    <p>Tables</p>
                                    <span class="badge badge-count">6</span>
                                </a>
                            </li>
                        {% endblock %}
						
						
                        {% block nav_notifications %}
                            <li class="nav-item">
                                <a href="/notifications/">
                                    <i class="la la-bell"></i>
                                    <p>Notifications</p>
                                    <span class="badge badge-success">3</span>
                                </a>
                            </li>
                        {% endblock %}
						
						
                        {% block nav_typography %}
                            <li class="nav-item">
                                <a href="/typography/">
                                    <i class="la la-font"></i>
                                    <p>Typography</p>
                                    <span class="badge badge-danger">25</span>
                                </a>
                            </li>
                        {% endblock %}
						
						
                        {% block nav_icons %}
                            <li class="nav-item">
                                <a href="/icons/">
                                    <i class="la la-fonticons"></i>
                                    <p>Icons</p>
                                </a>
                            </li>
                        {% endblock %}
						
						<li class="nav-item update-pro">
							<button  data-toggle="modal" data-target="#modalUpdate">
								<i class="la la-hand-pointer-o"></i>
								<p>Update To Pro</p>
							</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="main-panel">
				<div class="content">

                    {% block content %}
                        默认content
					{% endblock %}
					
                </div>
               
				<footer class="footer">
					<div class="container-fluid">
						<nav class="pull-left">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="#">
										ThemeKita
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										Help
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#license/#free-item">
										Licenses
									</a>
								</li>
							</ul>
						</nav>
						<div class="copyright ml-auto">
							2018, made with <i class="la la-heart heart text-danger"></i> by <a href="#">ThemeKita</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>				
					</div>
				</footer>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">									
					<p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
					<p>
						<b>We'll let you know when it's done</b></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="{% static "js/core/jquery.3.2.1.min.js" %}"></script>
<script src="{% static "js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js" %}"></script>
<script src="{% static "js/core/popper.min.js" %}"></script>
<script src="{% static "js/core/bootstrap.min.js" %}"></script>
<script src="{% static "js/plugin/chartist/chartist.min.js" %}"></script>
<script src="{% static "js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js" %}"></script>
<script src="{% static "js/plugin/bootstrap-notify/bootstrap-notify.min.js" %}"></script>
<script src="{% static "js/plugin/bootstrap-toggle/bootstrap-toggle.min.js" %}"></script>
<script src="{% static "js/plugin/jquery-mapael/jquery.mapael.min.js" %}"></script>
<script src="{% static "js/plugin/jquery-mapael/maps/world_countries.min.js" %}"></script>
<script src="{% static "js/plugin/chart-circle/circles.min.js" %}"></script>
<script src="{% static "js/plugin/jquery-scrollbar/jquery.scrollbar.min.js" %}"></script>
<script src="{% static "js/ready.min.js" %}"></script>
<script src="{% static "js/demo.js" %}"></script>

<script>
	open_heart(50000);
	flag = true;
	function open_heart(timeout){
		ref = setInterval(function () {
		if (flag) {
				$.ajax({
					url: '/Heart_rate_response/',
					type: 'post',
					data: { 'puid':"{{puid}}" },
					headers:{ "X-CSRFToken": '{{ csrf_token }}'},  
					success:function(arg){
						console.log(arg);
						if(arg!='ok'){
                        	$(location).attr('href','/index/');							
						}
					}   
				})
			}
		},timeout);
	}
	
</script>
</html>