<<<<<<< HEAD
*:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
=======
*:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
>>>>>>> acb8c86e5915306157008056c793ddc27ee3fd97
}